.logo {
  font-size: 33px;
  // color: #74de32;
  // text-shadow: 3px -1px 0 #000;
  font-family: $font-title;
  span {
    color: map-get($colors, primary);
    font-size: 34px;
    line-height: 0;
    display: inline-block;
    margin: 0 2px;
  }
}
.page-header {
  padding: 13px 15px 16px;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toggle-sidebar-left {
  left: 15px;
  background: none;
  border: 0;
  cursor: pointer;
  &::before,
  &::after,
  span {
    content: "";
    width: 23px;
    height: 1px;
    background: #333;
    display: block;
    border-radius: 10px;
    transform-origin: 100%;
    transition: all .4s;
  }
  span {
    margin: 6px 0;
    width: 17px;
  }
  .show-sidebar-left & {
    &::before {
      transform: rotate(-38deg);
    }
    &::after {
      transform: rotate(38deg);
    }
    span {
      width: 0;
    }
  }
}
.user-avatar {
  width: 27px;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  img {
    display: block;
  }
}
.nav-overlay {
  position: fixed;
  top: 62px;
  right: 0;
  bottom: 0;
  z-index: 1234;
  left: 0;
  background: rgba(255, 255, 255, 0.75);
  opacity: 0;
  visibility: hidden;
  transition: all .4s;
  .show-sidebar-left & {
    opacity: 1;
    visibility: visible;
  }
}
