.alert {
  padding: 7px 10px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: 12px;
}
.alert-danger {
  color: #a94442;
  background-color: #f8ecec;
  border-color: #ebccd1;
}
