.message {
  text-align: center;
  color: #bababa;
  padding: 20px;
  font-size: 13px;
  i {
    font-size: 46px;
    display: block;
    line-height: .8;
    margin-bottom: 10px;
  }
  span {
    span {
      color: #333;
    }
  }
}
