.message {
  text-align: center;
  color: #8e8e8e;
  padding: 20px;
  i {
    font-size: 60px;
    display: block;
    line-height: .8;
    margin-bottom: 10px;
  }
  span {
    span {
      color: #000;
    }
  }
}
