.login {
  padding-top: 120px;
  text-align: center;
  height: 100vh;
  .form-login {
    .form-buttom {
      padding: 15px 0;
      display: flex;
      justify-content: space-between;
    }
    .register {
      float: left;
      cursor: pointer;
      color: #F3C608;
    }
    .text {
      padding: 10px 0;
    }
    .list-social {
      width: 200px;
      margin: 15px auto 0;
      display: flex;
      justify-content: space-between;
      .item {
        cursor: pointer;
      }
    }
  }
  &-bottom {
    padding-top: 50px;
    line-height: 25px;
    .register-link {
      color: map-get($colors, primary)
    }
  }
}
