.auth-page {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .logo {
    margin-bottom: 15px;
  }
  .or {
    text-align: center;
    border-bottom: 1px solid #f2f2f2;
    height: 10px;
    margin: 29px 0 30px;
    span {
      background: #fff;
      padding: 0 10px;
    }
  }
}
.auth-form-content {
  background: #fff;
  width: 90%;
  box-sizing: border-box;
  .tab-content {
    padding: 30px 22px;
  }
}
.tab-links {
  display: flex;
  border-bottom: 1px solid #f2f2f2;
  li {
    border-right: 1px solid #f2f2f2;
    flex: 1;
    &:last-child {
      border-right: 0;
    }
  }
  a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    background: #fff;
    color: #333;
    position: relative;
    // &::after {
    //   position: absolute;
    //   bottom: -1px;
    //   left: 0;
    //   content: "";
    //   width: 0;
    //   border-bottom: 1px solid map-get($colors, primary);
    //   transition: all .2s;
    // }
    // &::before {
    //   content: "";
    //   position: absolute;
    //   right: 0;
    //   bottom: 0;
    //   height: 0;
    //   width: 1px;
    //   background: map-get($colors, primary);
    // }
  }
  .router-link-active {
    color: map-get($colors, primary);
    &::after {
      width: 100%;
    }
    &::before {
      transition: all .2s .2s;
      height: 100%;
    }
  }
}
.social-login {
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    margin: 0 7px;
    cursor: pointer;
  }
  svg {
    max-width: 72%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .facebook {
    background: #507cc0;
    svg {
      max-width: 33%;
    }
  }
  .twitter {
    background: #64ccf1;
    svg {
      max-width: 55%;
    }
  }
  .google {
    background: #df4930;
  }
}
