$font-body: 'Abel', sans-serif;
// $font-title: 'HoboStd', sans-serif;
$font-title: 'ElegantLux-Mager', sans-serif;

// == Breakpoints ===
$breakpoints: (
  small: 480px,
  medium: 768px,
  wide: 960px,
  large: 1024px,
  largest: 1280px
);
// == Colors ===
$colors: (
  primary: #5fbb25,
);
