body {
  // background: url('https://image.freepik.com/free-photo/towel-lavender-flowers-white-table-with-cream_23-2148116093.jpg') no-repeat center;
  // background: url('~@/assets/images/bg-phone.jpg') no-repeat center;
  background-size: cover;
  min-height: 100vh;
  background-size: cover;
}
.page-main {
  background: #fff;
}
