.sidebar-panel {
  overflow-y: auto;
  background-color: map-get($colors, primary);
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 1000;
  padding: 3rem 20px 2rem 20px;
  width: 300px;
}

.sidebar-panel-nav li {
  font-size: 17px;
  color: white;
}

.sidebar-backdrop {
  background-color: rgba(19, 15, 64, .4);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  cursor: pointer;
}

.slide-enter-active, .slide-leave-active {
  transition: transform 0.2s ease;
}

.slide-enter,
.slide-leave-to {
  transform: translateX(-100%);
  transition: all 150ms ease-in 0s
}
